{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block seo %}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/stylenew.css'%}"/>
    <link rel="stylesheet" href="{% static 'home/css/header.css'%}"/>
    
    {% block css %}
    {% endblock %}
</head>
<body>
    {% include 'home/header_dep.html' %}
    <div class="container-fluid">
        <div class="row">
          <div class="col">
            {% block bradcrumbs %}
            {% endblock%}
          </div>
          <div class="col d-none d-md-block">
            <form>
              <div class="form-row">
                <div class="col-9">
                  <input class="form-control" type="search" placeholder="_" aria-label="Search">
                </div>
                <div class="col">
                  <button class="form-control btn btn-outline-primary" type="submit">Найти</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    
    <div class="container-fluid">
        <div class="row">
          {% block promo_slider %}
          {% endblock %}
        </div>
    </div>
        <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    {% include 'home/footer_dep.html' %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/deploymain.js' %}"></script>
</body>
</html>