{% load static %}
<header class="container-fluid sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-around align-items-center p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <a class="navbar-brand w-25 d-flex mr-auto ml-1 align-items-center" href={% url 'home:index' %}>
      <img src={% static "home/img/logo-icon.png" %} height="50" class="mh-100 d-inline-block align-text-top mr-1">
      <span class="text-primary text-wrap w-50 mybrand">ДИРЕКЦИЯ СПОРТИВНЫХ СООРУЖЕНИЙ</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto align-items-center text-center">
        {% load menubuilder %}{% menu mainmenu %}
        {% for item in menuitems %}
        <li class="nav-item w-25" >
          <a class="nav-link text-wrap text-center {% if item.current %} active {% endif %}" href="{{ item.url }}" title="{{ item.title|escape }}">
            {{ item.title }}
            {% if item.current %}
            <span class="sr-only">
                (текущий)
            </span>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h5>call-center</h5>
      <a href="tel:+73012453036">+7(3012) 45-30-36</a>
    </div>
    <div class="d-flex justify-content-end">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'user:profile' user.id %}">Профиль</a>
          {% if user.is_staff %}
          <a class="dropdown-item" href={% url 'admin:index' %}>Админ-панель</a>
          {% endif %}
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href={% url "user:logout" %}>
            Выйти
          </a>
        </div>
      </div>
      {% else %}
      <a class="nav-link" href={% url "user:login" %}>Войти <i class="fas fa-sign-in-alt"></i></a>
      {% endif %}
    </div>
  </nav>
</header>