{% extends 'home/base.html' %}

{% load static %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-warning text-center">
        <img src="{% static 'home/img/rest-image.png' %}" alt="" class="card-img" style="filter: brightness(20%)"/>
        <div class="card-img-overlay card-body">
          <h3 class="card-title display-6">
            <a href="{% url 'objects:index' %}" class="card-link">ОБЪЕКТЫ</a>
          </h3>
          <nav class="nav flex-column">
            {% for object in objects %}
            <a href="{% url 'objects:detail' object.slug %}" class="btn btn-outline-primary">{{ object.short_name|upper }}</a>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-danger text-center">
        <img src="{% static 'home/img/sport-image.png' %}" alt="" class="card-img" style="filter: brightness(60%)"/>
        <div class="card-img-overlay card-body">
          <h3 class="card-title display-6">
            {% with category='sport' %}
            <a href="{% url 'services:categoryservice' category %}" class="card-link">СПОРТ</a>
          </h3>
          <nav class="nav flex-column mt-1">
            {% for sportservice in sportservices %}
            <a href="{% url 'services:listservice' category sportservice.slug %}" class="btn btn-outline-warning font-weight-bold ">{{sportservice.name|upper}}</a>
            {% endfor %}
            {% endwith %}
            {% with category='section' %}
            <a href="{% url 'services:categoryservice' category %}" class="btn btn-outline-warning font-weight-bold ">СПОРТИВНЫЕ СЕКЦИИ</a>
            {% endwith %}
          </nav>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-primary text-center">
        <img src="{% static 'home/img/rest-image.png' %}" alt="" class="card-img" style="filter: brightness(20%)"/>
        <div class="card-img-overlay card-body">
          <h3 class="card-title display-6">
            {% with category='relax' %}
            <a href="{% url 'services:categoryservice' category %}" class="card-link text-danger">РЕЛАКС</a>
          </h3>
          <nav class="nav flex-column">
            {% for relaxservice in relaxservices %}
              <a href="{% url 'services:listservice' category relaxservice.slug %}" class="btn btn-outline-warning font-weight-bold ">{{relaxservice.name|upper}}</a>
            {% endfor %}
            {% endwith %}
          </nav>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

