{% extends 'home/base2lv_ext.html' %}

{% load static %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4">
      {% include 'app_about/sidebar.html' %}
    </div>
    <div class="col">
      <h2 class="text-center text-uppercase fs-3">государственное автономное учреждение республики бурятия</h2>
      <h3 class="text-center text-uppercase fs-1 fw-bold">"дирекция спортивных сооружений"</h3>
      <h4 class="text-center text-uppercase fs-3">(ГАУ РБ "ДСС")</h4>
      <p>список документов с фильтром и поиском</p>
    </div>
  </div>
</main>
{% endblock %}