{% extends 'home/base2lv_ext.html' %}

{% block content %}
    <h2>{{news.title}}</h2>

    <div class="container mt-5 mb-5">
        <img src="{{news.featured_media.image.url}}"
        {{ news.content|safe}}
    </div>      

        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Предыдущий</a>
            </li>
            {%endif%}

            {% for page_number in paginator_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
            <li class="page-item">
                {{page_number}}
            </li>
            {% else %}
            <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page_number }}">{{page_number}}
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующий</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link disabled" href="#">Следующий</a>
            </li>
            {% endif %}
          </ul>
        {% comment %} {% include  'app_news/paginator_block.html' %} {% endcomment %}
    </div>
{% endblock %}

{% block bradcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'home:index' %}" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'news:list'%}" itemprop="item">
        <span itemprop="name">Новости</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
        <span itemprop="name">{{object.title|truncatechars:36}}</span>
        
    </li>
  </ol>
</nav>
{% endblock %}