{% extends 'home/base2lv.html' %}

{% load static %}

{% block sidebar %}
<ul class="nav flex-column">
  {% for object in objects %}
  <li class="nav-item">
    <a class="nav-link {% if object.id == object_id %} active text-warning{% endif %}" href="{% url 'objects:detail' object.slug %}">{{object.short_name}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block bradcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'home:index' %}" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'objects:index' %}" itemprop="item">
        <span itemprop="name">Объекты</span>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'objects:detail' object.slug %}" itemprop="item"> 
        <span itemprop="name">{{object.short_name}}</span>
      </a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block promo_slider %}
<div id="carouselPromo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h5>Важно!</h5>
        <p>сегодня в бассейне сандень. Подробнее</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <h5>22.05.23 концерт ЧиЖ</h5>
        <p>сегодня в бассейне сандень. Подробнее</p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}


{% block content %}
<main class="container-fluid">
  <div id="carouselPhotos" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      {% for photo in photos %}
      <div class="carousel-item {% if forloop.first %} active {% endif %} ">
        <img class="d-block img-fluid" src="{{photo.image.url}}" alt="{{photo.name}}">
        <div class="carousel-caption">
          <h5>{{photo.name}}</h5>
          <p>{{photo.description}}</p>
        </div>
      </div>
      {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselPhotos" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselPhotos" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">следующий</span>
    </a>
    <div class="carusel-btn-group">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">Адрес</button>
          <button type="button" class="btn btn-secondary">Контакты</button>
          <button type="button" class="btn btn-secondary">Спортивные услуги</button>
          <button type="button" class="btn btn-secondary">Спортивные секции</button>
          <button type="button" class="btn btn-secondary">Важное</button>
          <button type="button" class="btn btn-secondary">Наши тренеры</button>
          <button type="button" class="btn btn-secondary">Парнерам</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md">
      <h2 class="text-center">{{ object.name }}</h2>
      <h3 class="text-center h6 text-secondary">{{ object.short_name }}</h3>
      <div>
        {{ object.description | safe}}
      </div>
      <h4>{{object.name}} включает в себя:</h4>
      <div class="row">
          {% for stock in object.get_types_stocks %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <!-- <img src="" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">{{ stock.name }}</h5>
                <p class="card-text">{{ stock.description|safe|truncatechars:260}}</p>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    список услуг
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownService">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <div class="d-flex align-content-end justify-content-end pb-2 pr-2">
                  <a href="#" class="btn btn-warning">Связаться с администратором</a>
                  <a href="{% url 'objects:detail' object.slug %}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</main>
{% endblock %}