{% extends 'home/base2lv.html' %}

{% load static %}

{% block sidebar %}
<div>Тут подменю приложения объекты (перечисляем объекты)</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
  <div class="row">
    {% for object in objects %}
    <div class="col-md-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">{{ object.description|safe|truncatechars:160}}</p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ссылка на тип ресурса</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Связаться с администратором</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}