{% extends 'home/base2lv.html' %}

{% load static %}

{% block sidebar %}
<hr>
блок сайдбара
{% endblock %}

{% block bradcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'home:index' %}" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'objects:index' %}" itemprop="item">
        <span itemprop="name">Объекты</span>
      </a>
    </li>
  </ol>
</nav>
<ul class="nav flex-column">
  {% for object in objects %}
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'objects:detail' object.slug %}">{{object.short_name|upper}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block promo_slider %}
<div id="carouselPromo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for news in objects_news %}
    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <img class="d-block w-100" src="{{news.featured_media.large.url}}" alt="{{news.title}}">
      <a class="carousel-caption d-none d-md-block" href="{% url 'news:detail' news.slug %}">
        <h5>{{news.title}}</h5>
        <p>{{news.exerpt}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}


{% block content %}
<main class="container-fluid">
  <div class="row">
    {% for object in objects %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="{{object.get_random_photo.url}}" class="card-img-top" alt="{{object.get_random_photo.alt}}">
        <div class="card-body">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">{{ object.description|safe|truncatechars:260}}</p>
        </div>
        
        <div class="d-flex align-content-end justify-content-end">
            <a href="#" class="btn btn-warning">Связаться с администратором</a>
          <a href="{% url 'objects:detail' object.slug %}" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}