{% load fsize_tag %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <style>
        .thumb {
            height: 65vh;
        }
        .img_window {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%
        }
        .nav_btn {
            display: flex;
            align-items: center;
            background: #ccc;
            justify-content: center;
        }
    </style>
</head>
<body class="container-fluid">
    <div class="row">
        {% if image.get_prev_slug %}
        <a class="col-1 nav_btn" href="{% url 'app_mediafiles:detailimg' image.get_prev_slug %}">
            &#10092;
        </a>
        {% else %}
        <div class="col-1 nav_btn">
            &#215;
        </div>
        {% endif%}
        <div class="col-10">
            <h2 class="text-center">
                {% if image.title %}
                    {{image.title}}
                {% else %}
                    нет заголовка
                {% endif %}
            </h2>
            <p class="text-center">
                {% if image.caption %}
                    {{image.caption}}
                {% else %}
                    нет подписи
                {% endif %}
            </p>
            <p class="text-center">
                {% if image.alt_txt %}
                    {{image.alt_txt}}
                {% else %}
                    нет альтернативной подписи
                {% endif %}
            </p>
            <div class="btn-group">
                <a href="{% url 'app_mediafiles:img_edit' image.slug %}" class="btn btn-primary">
                    редактировать
                </a>
                <a href="{% url 'app_mediafiles:img_del' image.slug %}" class="btn btn-danger">
                    удалить
                </a>
            </div>
            <div class="thumb mb-2">
                <a href="{{image.image.url}}">
                    <img width="800" src="{{image.image.url}}" class="img_window" alt="{{image.alt_txt}}" decoding="async" loading="lazy" srcset="{{image.medium.url}} 200w, {{image.thumbnail.url}} 150w, {{image.large.url}} 304w" sizes="(max-width: 300px) 100vw, 300px" style="width:100%;height:100%;max-width:604px;" />
                </a>
            </div>
            <p>Параметры картинки: 
                <span>{{image.get_img_size}}</span>,
                <span>{{image.img_mode}}</span>,
                <span>{{image.media_type}}</span>,
                <span>{{image.mime_type}}</span>
            </p>
            <p>Параметры файла:
                <span>{{image.img_file_size|filesize}}</span>,
                <span>{{image.image.name}}</span>,
                время создания: <span> {{image.date_public|date:'d.m.Y'}} {{image.date_public|time:'H:i'}}</span>
            </p>
        </div>
        {% if image.get_next_slug %}
        <a class="col-1 nav_btn" href="{% url 'app_mediafiles:detailimg' image.get_next_slug %}">
            &#10093;
        </a>
        {% else %}
        <div class="col-1 nav_btn">
            &#215;
        </div>
        {% endif%}
    </div>
    
</body>
</html>