.card-horizontal__promo {
  margin-top: 12px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 6px;
}

.card-horizontal__addition {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 187.5% */
  margin-top: 24px;
  /* z-index: 2000; */
}

.card-horizontal__right-listlinks {
  color: #104295;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-decoration-line: underline;
  margin-bottom: 16px;
}


.event {
  margin-bottom: 46px;
}
.event__header {
  margin-top: 36px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 12px;
}
.event-card {
  display: flex;
  border-radius: 12px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(29, 30, 38, 0.10), 0px 3px 6px 0px rgba(29, 30, 38, 0.10), 0px 4px 44px 0px rgba(0, 0, 0, 0.15);
margin-bottom: 12px;
padding:24px;
z-index: 100;
}

.event-card__left {
  width: 30%;
  margin-right: 24px;
  /* height: 160px; */
}

.event-card__left > img {
  width: 100%;
  object-fit: contain;
}

.event-card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-card__date {
  color: #818181;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.event-card__title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.event-card__text {
  color: #818181;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.event-card__link {
  color: rgba(0, 130, 201, 0.9);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  text-decoration-line: underline;
}
