.promo {
    padding-top: 80px;
}

.mybrand {
    font-size: 14px;
    line-height: 1;
}

.my-bg-section {
    background-color: #ccc;
    min-height: 75vh;
    border: 1px solid red;
    max-width: 530px;
}


/* .carousel .item {
height: 300px;
margin: auto;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} */

.carusel-caption {
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carusel-btn-group {
    position: absolute;
    z-index: 20;
    top: 10%;
    right: 10%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#carouselPromo1 > .carousel-inner img {
    margin: auto;
    height: 200px;
    object-fit: cover;
   
}

#carouselPromo2 > .carousel-inner img {
    margin: auto;
    height: 200px;
    object-fit: cover;
}

#carouselPromo3 > .carousel-inner img {
    margin: auto;
    height: 200px;
    object-fit: cover;
}

#carouselPhotos > .carousel-inner img {
    margin: auto;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(125, 125,125, 0.7);
    border-radius: 10px;
}

.calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
  }

.calendar__header {
    position: relative;
    height: 100px;
    padding: 20px;
    color: #fff;
    /* background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover; */
    background: #262626;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.calendar__header  h5 {
    margin: 0;
}

.calendar__header  p {
    margin: 0;
    font-weight: 500;
}

.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
}

.calendar__day:nth-child(6) {
    color: #ff685d;
  }

  .calendar__day:nth-child(7) {
    color: #ff685d;
  }
.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  }

.calendar__number:nth-child(7n-1) {
    color: #ff685d;
    font-weight: 700;
  }

.calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }

.calendar__number--current,
.calendar__number:hover {
    background-color: #009688;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
  }

.calendar__number--event {
    border: solid red 1px;
    border-radius: 50%
}

#nav-tabContent {
    height: 300px;
    overflow-y: scroll
}