{% extends 'base.html' %}

{% load static %}

{% block sidebar %}
<div>Тут подменю приложения сервисы (перечисляем сервисы по категориям)</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <h2>Список сервисов</h2>
  <div class="row">
    {% for service in services %}
    <div class="col-md">
      подробная детальная информация
      {{ service }}
      {% if service.icon %}
        <img src='{{ service.icon.url }}'>
      {% else %}
        <img src="/media/emptyicon.png">
      {% endif %}
      {% if service.phone %}
        <img src='{{ service.photo.url }}'>
      {% endif %}
      {{ service.description|safe }}
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}