{% extends 'home/base2lv.html' %}

{% load static %}

{% block sidebar %}
<div>
  <ul>
  {% for item in typeservices %}
    <li>{{item.name}} </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <h2>Услуги {{currenttype}}</h2>
    {{services}}
</main>
{% endblock %}

{% block bradcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'home:index' %}" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'objects:index' %}" itemprop="item">
        <span itemprop="name">Объекты</span>
      </a>
    </li>
  </ol>
</nav>
<ul class="nav flex-column">
  {% for object in objects %}
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'objects:detail' object.slug %}">{{object.short_name|upper}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}