{% extends 'home/base3lv_ext.html' %}

{% load static %}

{% block content %}
<main class="container-fluid">
  <div class='d-flex justify-content-between'>
    <h2>Услуги {{currenttype.name}}</h2>
    <div>
      {% if obj_filter|length == 1 %}
        {% for item in obj_filter %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" disabled checked type="checkbox" id="check{{loop.counter}}" value="{{item.slug}}" name="object">
          <label class="form-check-label" for="check{{loop.counter}}">{{item.short_name}}</label>
        </div>
        {%endfor%}
      {%else%}
        {% for item in obj_filter %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" 
          {% if item.slug in param_objs %}
            checked
            {% else%}
            unchecked
          {%endif%}
           type="checkbox" id="check{{loop.counter}}" value="{{item.slug}}" name="object">
          <label class="form-check-label" for="check{{loop.counter}}">{{item.short_name}}</label>
        </div>
        {%endfor%}
      {%endif%}
    </div>
  </div>
  <table>
    <tr class="table_row_hr">
      <th>№</th>
      <th class="text-center table_name">Название</th>
      <th class="text-center table_description">Описание</th>
      <th></th>
    </tr>
    {%for service in services %}
    <tr class="table_row_hr">
      <td class="text-center">{{forloop.counter}}</td>
      <td class="text-center">{{service.name}}</td>
      <td class="d-flex flex-column align-item-center justify-content-center">{{service.description|safe}}</td>
      <td><button>подробнее</button>
        <button>забронировать</button>
        <button>льготы</button>
        <button>акции</button>
      </td>
    </tr>    
    {%endfor%}
  </table>
</main>
{% endblock %}

{% block bradcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'home:index' %}" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'services:categoryservice' category %}" itemprop="item">
        <span itemprop="name">{{categoryname}}</span>
      </a>
    </li>
    <li class="breadcrumb-item" itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
      <a href="{% url 'services:listservice' category currenttype.slug %}" itemprop="item">
        <span itemprop="name">{{currenttype.name}}</span>
      </a>
    </li>
    <li class="breadcrumb-item dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for item in typeservices %}
        <a class="dropdown-item" href="{% url 'services:listservice' category item.slug %}">{{item.name|upper}}</a>
        {% endfor %}
      </div>
    </li>
  </ol>
</nav>
{% endblock %}